<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="SITECOLLECTIONURL" value="https://cfr.spdev.schindler.com"/>
        <add key="USERNAME" value="spdev\nkamancl"/>
        <add key="PASSWORD" value="Bushtree_123"/>
        <add key="TENANTTYPE" value="ONPREM"/>
        <add key="TEMPLOCATION" value="C:\temp\"/>
        <add key="DEFAULTLIBRARY" value="NotesExport"/>
    </appSettings>
</configuration>