<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="SPOSITECOLLECTIONURL" value="https://devglobal.sharepoint.com/sites/65b16f84"/>
        <add key="SPOUSERNAME" value="fs.devsdb.com\xxxxx"/>
        <add key="SPOEMAIL" value="clement.nkamanyi@devsxx.com"/>  
        <add key="SPOPASS" value="Bushxxxxx"/> 
      
        <add key="SITECOLLECTIONURL" value="https://cfr.spdev.schindler.com"/>
        <add key="EMAIL" value="clement.nkamanyi@schindler.com"/>
        <add key="USERNAME" value="spdev\nkamancl"/>         
        <add key="PASSWORD" value="Bushxxxx3"/>
      
        <add key="TENANTTYPE" value="ONPREM"/>
        <add key="TEMPLOCATION" value="C:\temp\"/>
        <add key="DEFAULTLIBRARY" value="NotesExport"/>
    </appSettings>
</configuration>